<template name="distanceDropdown">
	<div id="max-distance-dropdown" class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Distance: {{selectedMaxDistance}} miles
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#"><span class="distance-value">50</span> miles</a></li>
			<li><a href="#"><span class="distance-value">25</span> miles</a></li>
			<li><a href="#"><span class="distance-value">10</span> miles</a></li>
			<li><a href="#"><span class="distance-value">5</span> miles</a></li>
		</ul>
	</div>
</template>