<template name="findJobPostings">
	<div class="filter-bar">
		<form class="form-inline">
			{{#autoForm id="jobPosting-filter-bar" collection=JobPostingsCollection type="normal"}}
				<fieldset>
					{{> afQuickField name="oneTime" options="allowed" label="One time or recurring?"}}
					{{> afQuickField name="startDate" type="bootstrap-datepicker"}}
				</fieldset>
			{{/autoForm}}
			<div class="form-group">
				<div id="church-dropdown" class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Church: {{selectedChurch.name}}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">None</a></li>
						{{#each churches}}
							<li><a href="#">{{name}} ({{count}})</a></li>
						{{/each}}
					</ul>
				</div>
			</div>
			<div class="form-group">
				{{> distanceDropdown selectedMaxDistance=selectedMaxDistance}}
			</div>
		</form>
	</div>

	{{#if jobPostings}}
		<div>
			<ul class="list-group">
				{{#each jobPostings}}
					<a class="list-group-item" href="{{pathFor 'findJobPostings'}}/{{_id}}">
						<h6 class="list-group-item-heading">{{formatDateUtc startDate}} to {{formatDateUtc expiration}}</h6>
						<p class="list-group-item-text">{{oneTime}}</p>

						<!--<span class="label pull-right">-->
						<!--</span>-->
					</a>
				{{/each}}
			</ul>
		</div>
	{{else}}
		<div>No job postings in your area.</div>
	{{/if}}
</template>