<template name="home">
	<div class="container">
		<div class="row">
			<div class="jumbotron" id="home-header">
				<div class="main-title">
					<span>CHRISTIAN</span>
					<span>CHILD</span>
					<span>CARE</span>
				</div>
				<p class="text-center">Find a cool bro to watch your kid.</p>
			</div>
		</div>

		<div class="row">
			<div id="home-panel-container">
				<div class="home-panel">
					<div class="home-font-container">
						<i class="fa fa-female fa-5x"></i>
					</div>
					<button class="btn btn-success btn-lg" type="submit">I watch kids</button>
				</div>
				<div class="home-panel">
					<div class="home-font-container">
						<i class="fa fa-child fa-5x"></i>
					</div>
					<button class="btn btn-success btn-lg" type="submit">I have a kid</button>
				</div>
				<div class="home-panel">
					<div class="home-font-container">
						<i class="fa fa-building fa-5x"></i>
					</div>
					<button class="btn btn-success btn-lg" type="submit">I'm a church</button>
				</div>
			</div>
		</div>
	</div>
</template>
